function Cell.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push constant 0
pop this 2
push constant 0
pop this 3
push pointer 0
return
function Cell.GetScreenLocation 0
push argument 0
pop pointer 0
push this 0
push this 1
push constant 32
call Math.multiply 2
push constant 16
call Math.multiply 2
add
return
function Cell.SetState 0
push argument 0
pop pointer 0
push argument 1
pop this 2
push constant 0
return
function Cell.GetState 0
push argument 0
pop pointer 0
push this 2
return
function Cell.IsMine 0
push argument 0
pop pointer 0
push this 2
push constant 12
eq
return
function Cell.SetMine 0
push argument 0
pop pointer 0
push constant 12
pop this 2
push constant 0
return
function Cell.SetShow 0
push argument 0
pop pointer 0
push argument 1
pop this 3
push constant 0
return
function Cell.GetShow 0
push argument 0
pop pointer 0
push this 3
return
function Cell.IsFlag 0
push argument 0
pop pointer 0
push this 4
return
function Cell.Draw 0
push argument 0
pop pointer 0
push this 4
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
call Cell.DrawFlag 1
pop temp 0
push constant 0
return
label IF_FALSE0
push this 3
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cell.DrawClosed 1
pop temp 0
push constant 0
return
label IF_FALSE1
push this 2
push constant 0
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push pointer 0
call Cell.DrawEmpty 1
pop temp 0
push constant 0
return
label IF_FALSE2
push this 2
push constant 1
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push pointer 0
call Cell.DrawOne 1
pop temp 0
push constant 0
return
label IF_FALSE3
push this 2
push constant 2
eq
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push pointer 0
call Cell.DrawTwo 1
pop temp 0
push constant 0
return
label IF_FALSE4
push this 2
push constant 3
eq
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push pointer 0
call Cell.DrawThree 1
pop temp 0
push constant 0
return
label IF_FALSE5
push this 2
push constant 4
eq
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push pointer 0
call Cell.DrawFour 1
pop temp 0
push constant 0
return
label IF_FALSE6
push this 2
push constant 5
eq
if-goto IF_TRUE7
goto IF_FALSE7
label IF_TRUE7
push pointer 0
call Cell.DrawFive 1
pop temp 0
push constant 0
return
label IF_FALSE7
push this 2
push constant 6
eq
if-goto IF_TRUE8
goto IF_FALSE8
label IF_TRUE8
push pointer 0
call Cell.DrawSix 1
pop temp 0
push constant 0
return
label IF_FALSE8
push this 2
push constant 7
eq
if-goto IF_TRUE9
goto IF_FALSE9
label IF_TRUE9
push pointer 0
call Cell.DrawSeven 1
pop temp 0
push constant 0
return
label IF_FALSE9
push this 2
push constant 8
eq
if-goto IF_TRUE10
goto IF_FALSE10
label IF_TRUE10
push pointer 0
call Cell.DrawEight 1
pop temp 0
push constant 0
return
label IF_FALSE10
push this 2
push constant 10
eq
if-goto IF_TRUE11
goto IF_FALSE11
label IF_TRUE11
push pointer 0
call Cell.DrawSelected 1
pop temp 0
push constant 0
return
label IF_FALSE11
push this 2
push constant 12
eq
if-goto IF_TRUE12
goto IF_FALSE12
label IF_TRUE12
push pointer 0
call Cell.DrawMine 1
pop temp 0
push constant 0
return
label IF_FALSE12
push constant 0
return
function Cell.Select 0
push argument 0
pop pointer 0
push pointer 0
call Cell.DrawSelected 1
pop temp 0
push constant 0
return
function Cell.CancelSelection 0
push argument 0
pop pointer 0
push pointer 0
call Cell.Draw 1
pop temp 0
push constant 0
return
function Cell.Open 0
push argument 0
pop pointer 0
push this 4
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push constant 0
not
pop this 3
push pointer 0
call Cell.Draw 1
pop temp 0
push this 2
push constant 12
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push constant 0
not
return
function Cell.ChangeFlagState 0
push argument 0
pop pointer 0
push this 3
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 4
not
pop this 4
push this 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call Cell.DrawFlag 1
pop temp 0
goto IF_END1
label IF_FALSE1
push pointer 0
call Cell.DrawSelected 1
pop temp 0
label IF_END1
push constant 0
return
function Cell.DrawClosed 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 21845
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 10923
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 21845
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 10923
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 21845
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 10923
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 21845
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 10923
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 21845
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 10923
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 21845
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 10923
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 21845
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 10923
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawSelected 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 15325
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 21547
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 28279
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 22123
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 14749
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 22939
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 18019
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 18019
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 22939
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 14749
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 22123
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28279
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 21547
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 15325
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawEmpty 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawFlag 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32287
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32263
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32287
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32511
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32511
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32511
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32511
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 31871
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 28703
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawOne 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 32287
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 32287
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawTwo 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31807
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 29071
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 29695
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 29183
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 30847
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 31775
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32527
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32719
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 28687
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28687
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawThree 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31807
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 29135
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 29695
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 31231
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31871
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 31871
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 31231
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 29695
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 29135
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 31807
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawFour 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 31231
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30975
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 30847
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 31039
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 31135
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 28687
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28703
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 31231
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 31231
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 31231
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 31231
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawFive 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 28687
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 28687
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32719
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32719
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 30735
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28703
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 29183
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 29695
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 29183
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28687
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawSix 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 30735
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 32719
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 32719
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 30735
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 28687
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 29647
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 29647
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 28687
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawSeven 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 24591
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 24591
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 26623
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 29695
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31231
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 31999
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 32383
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawEight 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 31807
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 31135
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 31711
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 31135
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 31807
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 29647
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 29647
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 29647
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 31807
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
function Cell.DrawMine 1
push argument 0
pop pointer 0
push constant 16384
push pointer 0
call Cell.GetScreenLocation 1
add
pop local 0
push local 0
push constant 1
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 32191
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 28279
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 30319
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 22555
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 24583
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 22555
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 30751
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 30319
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 28279
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 32191
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 32767
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 1
neg
call Memory.poke 2
pop temp 0
push constant 0
return
