function List.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 0
pop this 1
push pointer 0
return
function List.SetValue 0
push argument 0
pop pointer 0
push argument 1
pop this 0
call List.new 0
pop this 1
push constant 0
return
function List.Contain 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 0
push argument 1
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
return
label IF_FALSE1
push this 1
push argument 1
call List.Contain 2
return
function List.Add 0
push argument 0
pop pointer 0
push this 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push pointer 0
push argument 1
call List.SetValue 2
pop temp 0
goto IF_END0
label IF_FALSE0
push this 1
push argument 1
call List.Add 2
pop temp 0
label IF_END0
push constant 0
return
